### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
total_players_array = purchase_data['SN'].unique()
total_player_df = pd.DataFrame({'Total Players':[len(total_players_array)]})
total_player_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
purchase_analysis_df = pd.DataFrame({"Number of Unique Items":[len(purchase_data['Item Name'].unique())], 
                                     "Average Price":['${:,.2f}'.format(purchase_data['Price'].mean())],
                                     "Number of Purchases":[purchase_data['Price'].count()],
                                     "Total Revenue": ['${:,.2f}'.format(purchase_data['Price'].sum())]})
purchase_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
gender_cnt_df = purchase_data.drop_duplicates(subset='SN')
gender_cnt = gender_cnt_df.groupby('Gender').count()
gender_cnt.head()
gender_demo_df = gender_cnt[['Purchase ID']]
gender_demo_df = gender_demo_df.rename(columns={'Purchase ID':'Total Count'})
gender_demo_df['Percentage of Players'] = gender_demo_df['Total Count'] / len(total_players_array) * 100
gender_demo_df = gender_demo_df[['Percentage of Players', 'Total Count']]
gender_demo_df['Percentage of Players'] = gender_demo_df['Percentage of Players'].round(2)
gender_demo_df.head()

                       Percentage of Players  Total Count
Gender
Female                                 14.06           81
Male                                   84.03          484
Other / Non-Disclosed                   1.91           11

## Purchasing Analysis (Gender)
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
def formCurr(x):
    return "${:,.2f}".format(x)
gender_analysis = purchase_data.groupby('Gender')
gender_analysis_df = gender_analysis.count()
gender_analysis_df = gender_analysis_df.rename(columns={'Purchase ID': 'Purchase Count'})
gender_analysis_df = gender_analysis_df[['Purchase Count']]
gender_mean_df = gender_analysis.mean()
gender_mean_df = gender_mean_df['Price'].round(2)
gender_analysis_df['Average Purchase Price'] = gender_mean_df.apply(formCurr)
gender_sum_df = gender_analysis.sum()
gender_sum_df = gender_sum_df['Price']
gender_analysis_df['Total Purchase Price'] = gender_sum_df.apply(formCurr)
gender_analysis_df['Avg Purchase Total per Person'] = (gender_sum_df/gender_analysis_df['Purchase Count']).apply(formCurr)
gender_analysis_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Price,Avg Purchase Total per Person
Gender,,,,
Female,113,$3.20,$361.94,$3.20
Male,652,$3.02,"$1,967.64",$3.02
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [9]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
player_age_unique_groupby = purchase_data.drop_duplicates(subset='SN').groupby(['SN', 'Age'])
player_age_df = pd.DataFrame(player_age_unique_groupby.mean())
player_age_df = player_age_df[['Purchase ID']]
player_age_df = player_age_df.reset_index()
#player_age_df = pd.merge(player_age_df, purchase_data[['SN', 'Age']], on="SN", how="left")
player_age_df['Age Category'] = pd.cut(player_age_df['Age'], bins=age_bins, labels=group_names)
player_age_groupby = player_age_df.groupby('Age Category')
player_demo_df = pd.DataFrame(player_age_groupby.count())
player_demo_df = player_demo_df.drop(columns=['SN', 'Purchase ID'])
player_demo_df = player_demo_df.rename(columns = {'Age': 'Total Count'})
player_demo_df['Percentage of Players'] = player_demo_df['Total Count'].astype('float')
player_demo_df['Percentage of Players'] = (player_demo_df['Percentage of Players'] / len(total_players_array)) * 100
player_demo_df['Percentage of Players'] = player_demo_df['Percentage of Players'].map("{:.2f}".format)
player_demo_df = player_demo_df[['Percentage of Players', 'Total Count']]
player_demo_df

             Percentage of Players  Total Count
Age Category
<10                           2.95           17
10-14                         3.82           22
15-19                        18.58          107
20-24                        44.79          258
25-29                        13.37           77
30-34                         9.03           52
35-39                         5.38           31
40+                           2.08           12

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
purchase_data['Age Category'] = pd.cut(purchase_data['Age'], bins=age_bins, labels=group_names)
purchase_age_count_df = pd.DataFrame(purchase_data.groupby('Age Category').count())
purchase_age_sum_df = pd.DataFrame(purchase_data.groupby('Age Category').sum())
purchase_age_mean_df = pd.DataFrame(purchase_data.groupby('Age Category').mean())
purchase_age_count_df = purchase_age_count_df.rename(columns={'Age': 'Purchase Count'})
purchase_age_analysis_df = purchase_age_count_df.drop(columns=['Purchase ID', 'SN', 'Gender', 'Item ID', 'Item Name', 'Price'])
purchase_age_analysis_df['Total Purchase Value'] = purchase_age_sum_df['Price']
purchase_age_analysis_df['Average Purchase Price'] = purchase_age_mean_df['Price']
purchase_age_analysis_df['Average Purchase Total per Person'] = purchase_age_analysis_df['Total Purchase Value'] / purchase_age_analysis_df['Purchase Count']
purchase_age_analysis_df = purchase_age_analysis_df[['Purchase Count', 'Average Purchase Price', 
                                                     'Total Purchase Value', 'Average Purchase Total per Person']]
purchase_age_analysis_df['Average Purchase Price'] = purchase_age_analysis_df['Average Purchase Price'].map("${:,.2f}".format)
purchase_age_analysis_df['Total Purchase Value'] = purchase_age_analysis_df['Total Purchase Value'].map("${:,.2f}".format)
purchase_age_analysis_df['Average Purchase Total per Person'] = purchase_age_analysis_df['Average Purchase Total per Person'].map("${:,.2f}".format)
purchase_age_analysis_df

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
purchase_sn_count_df = pd.DataFrame(purchase_data.groupby('SN').count())
top_spenders_df = purchase_sn_count_df[['Purchase ID']]
top_spenders_df = top_spenders_df.rename(columns={'Purchase ID': 'Purchase Count'})
purchase_sn_sum_df = pd.DataFrame(purchase_data.groupby('SN').sum())
purchase_sn_mean_df = pd.DataFrame(purchase_data.groupby('SN').mean())
top_spenders_df['Average Purchase Price'] = purchase_sn_mean_df['Price']
top_spenders_df['Total Purchase Value'] = purchase_sn_sum_df['Price']
top_spenders_df = top_spenders_df.sort_values(by=['Total Purchase Value'], ascending=False)
top_spenders_df['Average Purchase Price'] = top_spenders_df['Average Purchase Price'].map("${:,.2f}".format)
top_spenders_df['Total Purchase Value'] = top_spenders_df['Total Purchase Value'].map("${:,.2f}".format)
top_spenders_df.head()

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
#purchase_groupby = purchase_data.groupby(['Item ID', 'Item Name']).count()
pop_items_df = pd.DataFrame(purchase_data.groupby(['Item ID', 'Item Name'])['Purchase ID'].count())
pop_items_df = pop_items_df.rename(columns={'Purchase ID': 'Purchase Count'})
pop_items_df['Item Price'] = pd.DataFrame(purchase_data.groupby(['Item ID', 'Item Name'])['Price'].mean())
pop_items_df['Total Purchase Value'] = pop_items_df['Item Price'] * pop_items_df['Purchase Count']
pop_items_df = pop_items_df.sort_values(by=['Purchase Count'], ascending=False)
pop_items_df['Item Price'] = pop_items_df['Item Price'].map("${:,.2f}".format)
pop_items_df['Total Purchase Value'] = pop_items_df['Total Purchase Value'].map("${:,.2f}".format)
pop_items_df.head()

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
prof_items_df = pd.DataFrame(purchase_data.groupby(['Item ID', 'Item Name'])['Purchase ID'].count())
prof_items_df = pop_items_df.rename(columns={'Purchase ID': 'Purchase Count'})
prof_items_df['Item Price'] = pd.DataFrame(purchase_data.groupby(['Item ID', 'Item Name'])['Price'].mean())
prof_items_df['Total Purchase Value'] = prof_items_df['Item Price'] * prof_items_df['Purchase Count']
prof_items_df = prof_items_df.sort_values(by=['Total Purchase Value'], ascending=False)
prof_items_df['Item Price'] = prof_items_df['Item Price'].map("${:,.2f}".format)
prof_items_df['Total Purchase Value'] = prof_items_df['Total Purchase Value'].map("${:,.2f}".format)
prof_items_df.head()